*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.some__text{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}
.some__text > button{
    padding: 10px;
    color: black;
    background-color: transparent;
    border-radius: 25px;
    font-weight: 100;
}